<!-- This template is only used for providing the stylesheet path in the respective container. The stylesheet will only apply if the CeresVanilla Stylesheet data provider is linked in the Plugins » Content menu -->

<link rel="stylesheet" href="{{ plugin_path('CeresVanilla') }}/css/main.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{ plugin_path('CeresVanilla') }}/js/prideaproducts.js"></script>

		 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-72024457-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-72024457-1', { 'anonymize_ip': true });
</script>



		<!-- Google Code für ein Remarketing-Tag -->

		<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 935104796;
		var google_custom_params = window.google_tag_params;
		var google_remarketing_only = true;
		/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/935104796/?guid=ON&amp;script=0"/>
		</div>
		</noscript>

		<script>
	
			ScriptLoader.load({
				layout: 'PageDesign$PageDesign',
				position: 'head', 
				rootPath: '{% GetGlobal('LayoutFolder'); %}/js/',
				sourceMap: '{% GetGlobal('LayoutFolder'); %}/js/plenty/scripts-{% GetGlobal('LayoutVersion'); %}.json',
				debug: {% if GetGlobal("debugScripts") %}true{% else %}false{% endif %}
			});
		</script>
		
		<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
		<script type="text/javascript">
		    window.cookieconsent_options = {"message":"Wir verwenden Cookies um Ihr Einkaufserlebnis bestmöglich gestalten zu können.","dismiss":"OK","learnMore":"Mehr Informationen","link":"https://www.pridea.de/datenschutz/#cookies","theme":"light-top"};
		</script>
		
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
		<!-- End Cookie Consent plugin -->

		
		
		{% if $CurrentCategoryId[Level1] != 504 %}
		<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1567892190202280');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1567892190202280&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->